<!DOCTYPE html>
<html>

<body>

    <h2>LOGIN Forms</h2>

    <form [formGroup]="loginForm">
        <label for="email">UserType:</label><br>
        <!-- <select class="form-control" formControlName="usertype">
            <option *ngFor="let item of usertype" [value]="item.id">
                {{item.name}}
            </option>
        </select><br> -->

        <ng-select [items]="usertype" bindLabel="name" bindValue="id" formControlName="usertype">
        </ng-select>
        <label for="email">Email:</label><br>
        <input type="text" id="email" formControlName="email"><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" formControlName="password"><br><br>
        <input type="submit" (click)="login()" value="Submit">
    </form>
</body>

</html>
<app-modal #modal></app-modal>