<!DOCTYPE html>
<html>

<body>

    <h2>LOGIN Forms</h2>

    <form [formGroup]="loginForm">
        <label for="email">UserType:</label><br>
        <select class="form-control" >
            <option *ngFor="let item of usertype"  [value]="item.name">
            {{item.name}}
            </option>
        </select><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" formControlName="email"><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" formControlName="password"><br><br>
        <input type="submit" (click)="login()" value="Submit">
    </form>
</body>

</html>