/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
.ng-select {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 15%;
}